.App {
  text-align: center;
}

.h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
}

.h2 {
  font-family: 'Odibee+Sans', sans-serif;
  font-size: 20px;
}

.event-list {
  max-width: 100%;
  display: block;
  margin-top: 10px;

  margin-right: 45px;
  box-shadow: 0 10px 20px;
}

.images {
  margin: 0;
  width: 50%;
  height: 50%;
  object-fit: scale-down;
}

.event-title {
  font-family: 'Odibee+Sans', sans-serif;
  font-size: 20px;
}

.event-description {
  font-family: 'Playfair+Display', sans-serif;
  font-size: 15px;
}

.ul {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}