.App {
  text-align: center;
}

.h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
}

.h2 {
  font-family: 'Odibee+Sans', sans-serif;
  font-size: 20px;
}

.event-title {
  font-family: 'Odibee+Sans', sans-serif;
  font-size: 20px;
}

.event-description {
  font-family: 'Playfair+Display', sans-serif;
  font-size: 15px;
}

.ul {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}